@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to my MVC Library Application</h3>
    <p>Powered by AspNetCore library and .NET Core runtime</p>
</div>
